.header
{
	height:200px;
	width:100%;
	background-color:green;	
}
.bodyer
{
	height:800px;
	width:100%;
	background-color:white;	
}
.footer
{
	height:100px;
	width:100%;
	background-color:blue;	
}
.maker
{
    font-size:11px;
    color:green;
    text-align:right;
}
.navbar2
{
    flex-direction: row;
    height: 60px;
    width:500px;
    background-color:#ebf0ec;
    font-family:"archia";
    font-size:18px;
    color:#838584;
    text-align:center;
}
.footerbar2
{
    flex-direction: row;
    height: 60px;
    width:500px;
    background-color:#edf5ef;
    font-family:"archia";
    font-size:18px;
    color:#838584;
    text-align:center;
}
.overridefont
{
	  font-size:15px;
}
.w3-bar-footer
{
	height:120px;
	width:100%;
	background-color:white;
}
	